<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login In Page</title>
    <link rel="shortcut icon" href="../static/resources/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/login.css">
</head>
<body>
    <div class="loader"></div>

    <div class="box">
        <h2>minehaux</h2>
        <div class="form">
            <form action="#" method="POST">
                <div id="name">
                    <h1>MOJANG ACCOUNT (USERNAME)</h1>
                    <p><input type="text" name="nm"></p>
                </div>
            
                <div id="password">
                    <h1>PASSWORD</h1>
                    <p><input type="password" name="pw" id="myInput"></p>
                </div>
                
                <div id="container">
                    <div id="checkbox">
                        <input type="checkbox" onclick="myFunction()">
                        <h1>Show Password</h1>
                    </div>
                    <a href="">Forgot passsword?</a>
                </div>

                <div id="submit">
                    <input type="image" src="../static/resources/login/button.png">
                    <h1>log in</h1>
                </div>

            </form>
        </div>
    </div>

<script src="../static/script.js" defer></script>
</body>
</html>